@charset "UTF-8";
:root {
  --header-list-color: #212121;
  --first-btn-color: ;
  --second-lnk-color: #2196f3;
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --first-text-color: #757575;
  --accent-color: #188ce8;
  --projects-list-gap: 30px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 580px;
  background-color: #fff;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(50%, 50%) rotate(-270deg);
}

.modal-close-btn__icon {
  width: 18px;
  height: 18px;
}

.modal-close-btn {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
}

.modal-wrap {
  position: relative;
}

.modal-input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.modal-field__text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field__text:focus,
.modal-input:focus {
  border-color: var(--second-lnk-color);
}

.modal-input:focus + .modal-input__icon {
  fill: var(--second-lnk-color);
}

.modal-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.check-field {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-field__input {
  position: absolute;
}

.check-field__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.check-field__input:checked + .check-field__label span {
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
  margin-left: 14px;
  display: block;
}

.check-link {
  color: #2196f3;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-icon-check {
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
  margin-left: 14px;
  display: block;
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 4px;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.nav-logo > span {
  color: #2196f3;
}

.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .nav-logo {
  color: var(--header-list-color);
  margin-right: 93px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-list__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: #2196f3;
}

.header-list__item + .header-list__item {
  margin-left: 40px;
}

.header-list__item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--header-list-color);
}

.header-links {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-list-color);
}

.header-links__mail {
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--first-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links__mail:hover, .header-links__mail:focus {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-links__tel {
  margin-left: 50px;
  line-height: 1.14;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--first-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links__tel:hover, .header-links__tel:focus {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-links__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  background-color: #2196f3;
  border-radius: 2px;
}

.cap {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/бэкфон.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cap__title {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.cap-thumb {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.cap-thumb__btn {
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cap-thumb__btn:hover, .cap-thumb__btn:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.about {
  margin: 0 auto;
}

.about-list {
  display: flex;
  margin-top: 50px;
}

.about-list__item + .about-list__item {
  margin-left: 30px;
}

.about-box {
  position: relative;
}

.about-thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about-thumb__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.commands {
  background-color: #f5f4fa;
}

.command-list {
  display: flex;
  margin-left: -30px;
}

.command-list > .command-list__item {
  margin-left: 30px;
}

.command {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.command__profession {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.command-icons-list {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  justify-content: center;
}

.command-icons-list__item + .command-icons-list__item {
  margin-left: 10px;
}

.command-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-color: #afb1b8;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.command-icon:hover, .command-icon:focus {
  color: #ffffff;
  background-color: var(--second-lnk-color);
}

.command-icon__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.customers-list {
  display: flex;
}

.customers-list__item + .customers-list__item {
  margin-left: 30px;
}

.customers-link {
  display: flex;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.customers-link__icons {
  width: 106px;
  height: 60px;
  fill: currentColor;
  margin-top: 16px;
  margin-left: 32px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background-color: var(--second-lnk-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--projects-list-gap));
  margin-left: calc(-1 * var(--projects-list-gap));
}

.projects-list > .projects-list__item {
  flex-basis: calc(100% / 3 - var(--projects-list-gap));
  margin-top: var(--projects-list-gap);
  margin-left: var(--projects-list-gap);
}

.projects-list__item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.projects-list__item:hover, .projects-list__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
}

.text-thumb p {
  display: flex;
  margin-top: 63px;
  margin-left: 24px;
  margin-bottom: 63px;
  margin-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text-thumb {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.projects-list__item:hover .text-thumb,
.projects-list__item:focus .text-thumb {
  transform: translateY(-100%);
  bottom: 0;
  left: 0;
}

.project__img-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
}

.project__img-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.project {
  padding: 20px 24px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .nav-logo {
  color: #ffffff;
}

.f-container {
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-list__item a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__item a:hover, .footer-list__item a:focus {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover, .address:focus {
  color: #2196f3;
}

.footer-list__item + .footer-list__item {
  margin-top: 9px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-links__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--second-title-color);
}

.flinks-list {
  display: flex;
}

.flink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flink:hover, .flink:focus {
  background-color: var(--second-lnk-color);
}

.flink__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.ft-form {
  display: inline-block;
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.ft-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--second-title-color);
}

.footer-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 12px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
}

.footer-form__input:focus {
  color: #ffffff;
  padding-left: 16px;
}

.footer-form__input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.f-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.f-btn__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.qualities {
  padding-bottom: 0;
}

.qualities-list {
  display: flex;
  margin: 0 auto;
}

.qualities-list > .qualities-list__item {
  flex-basis: calc(100% / 4);
}

.qualities-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--first-title-color);
}

.qualities-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: left;
}

.qualities-list__item + .qualities-list__item {
  margin-left: 30px;
}

.q-icons {
  display: flex;
  height: 120px;
  justify-content: center;
  background-color: #f5f4fa;
}

.q-icons__icon {
  margin-top: 25px;
  width: 70px;
  height: 70px;
}
/*# sourceMappingURL=main.css.map */