.about {
    margin: 0 auto;
    padding-top: 0;
    display: none;
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
        }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.about-list {
    display: flex;
    margin-top: 50px;
}

.about-list__item{
   
   
    &:hover,
    &:focus {
            cursor: pointer;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            
        }
}

.about-list__item+.about-list__item {
    margin-left: 30px;
}

.about-box {
    position: relative;
  
}

.about-thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.about-thumb__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 27px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    &:hover,
        &:focus {
            color: #2196f3;}
}