.qualities {
    padding-bottom: 0;
}

.qualities-list {
    display: flex;
    margin: 0 auto;
}

.qualities-list>.qualities-list__item {
    flex-basis: calc(100% / 4);
}

.qualities-list__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--first-title-color);
}

.qualities-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    text-align: left;
}

.qualities-list__item+.qualities-list__item {
    margin-left: 30px;
}

.q-icons {
    display: flex;
    height: 120px;
    justify-content: center;
    background-color: #f5f4fa;
}

.q-icons__icon {
    margin-top: 25px;
    width: 70px;
    height: 70px;
}